<launch>
  <node pkg="hector_mapping" type="hector_mapping" name="hector_mapping" output="screen">
    <rosparam>
      map_frame: map
      base_frame: base_footprint
      odom_frame: odom
      use_tf_scan_transformation: true
      use_tf_pose_start_estimate: false
      pub_map_odom_transform: true
      map_resolution: 0.025
      map_size: 2048
      map_start_x: 0.5
      map_start_y: 0.5
      map_multi_res_levels: 2
      update_factor_free: 0.4
      update_factor_occupied: 0.9
      map_update_distance_thresh: 0.4
      map_update_angle_thresh: 0.06
      advertise_map_service: true
      laser_max_dist: 5.0
    </rosparam>
    <remap from="/scan" to="/base_scan" />
  </node>
  <include file="$(find parsec_navigation)/launch/move_base_dynamic.launch" />
</launch>

