<?xml version="1.0"?>
<launch>
  <node pkg="hector_geotiff" type="geotiff_node" name="hector_geotiff_node" output="screen" launch-prefix="nice -n 15">
    <remap from="map" to="/dynamic_map" />
    <rosparam>
      map_file_base_name: hector_slam_map
      draw_background_checkerboard: true
      draw_free_space_grid: true
    </rosparam>
    <param name="map_file_path" type="string" value="$(find hector_geotiff)/maps" />
  </node>
</launch>
