<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear="true">
    <remap from="cmd_vel" to="~cmd_vel" />
    <rosparam file="$(find parsec_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find parsec_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find parsec_navigation)/config/move_base.yaml" command="load" />
  </node>
</launch>

