<launch>
  <!-- Filter out points that are immediately surrounding the laser (e.g. the laser mount). -->
  <node pkg="nodelet" type="nodelet" name="parsec_perception_nodelet_manager" args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="laser_scan_converter"
        args="load parsec_perception/LaserToPointCloudConverter parsec_perception_nodelet_manager">
    <remap from="~input" to="tilt_scan" />
  </node>
  <node pkg="nodelet" type="nodelet" name="robot_self_filter"
        args="load parsec_perception/CircularRobotSelfFilter parsec_perception_nodelet_manager">
    <remap from="~input" to="laser_scan_converter/output" />
    <rosparam>
      base_frame: base_footprint
      radius: 0.215
      minimal_z_value: 0.0
      maximal_z_value: 1.77
    </rosparam>
  </node>
  <!-- Filter out points on the floor. -->
  <node name="floor_filter" type="nodelet" pkg="nodelet"
        args="load parsec_perception/FloorFilter parsec_perception_nodelet_manager">
    <remap from="~input" to="robot_self_filter/output" />
    <rosparam>
      line_distance_threshold: 0.05
      sensor_frame: tilt_laser
      reference_frame: base_footprint
      max_floor_y_rotation: 0.05
      max_floor_x_rotation: 1.00
      floor_z_distance: 0.05
    </rosparam>
  </node>
  <node name="floor_filter_converter" type="point_cloud_converter" pkg="point_cloud_converter">
    <remap from="points2_in" to="floor_filter/output" />
    <remap from="points_out" to="floor_filter/filtered_cloud_points1" />
  </node>
</launch>
