<launch>
  <include file="$(find parsec_description)/launch/upload_parsec.launch" />

  <rosparam>
    anonymous_1:
      laser_frame: base_laser
      laser_topic: parsec/base_scan
    anonymous_2:
      laser_frame: tilt_laser
      laser_topic: parsec/tilt_scan
  </rosparam>

  <node name="parsec_odometry" type="parsec_odometry" pkg="parsec_odometry" output="screen">
    <remap from="~odom_simple" to="/odom_simple" />
    <remap from="~odom" to="/odom" />
    <remap from="~scan" to="/base_scan" />
    <rosparam>
      base_frame: base_footprint
    </rosparam>
  </node>
  <node name="parsec_state_publisher" type="state_publisher" pkg="robot_state_publisher" />
  <node name="servo_joint_state_publisher" type="publish_servo_joint_state.py"
        pkg="publish_servo_joint_state">
    <remap from="~signal" to="laser_tilt_controller/signal" />
    <remap from="~profile" to="laser_tilt_controller/profile" />
  </node>
  <node name="cmd_vel_mux" type="priority_teleop_mux.py" pkg="priority_teleop_mux">
    <rosparam>
      outgoing_topic: cmd_vel
      incoming_topics: ["estop/cmd_vel", "virtual_joystick/cmd_vel", "move_base/cmd_vel"]
    </rosparam>
  </node>
  <node name="cmd_vel_mux_log" type="rosbag" pkg="rosbag"
        args="record cmd_vel_mux/log -o $(env HOME)/.ros/log/cmd_vel_mux_log" />
  <node name="robust_parsec_relay" type="robust_topic_relay" pkg="robust_topic_relay"
        output="screen">
    <rosparam>
      relayed_topics:
        - input_topic: /parsec/base_scan
          output_topic: /base_scan
          expected_frequency: 5.0
        - input_topic: /parsec/tilt_scan
          output_topic: /tilt_scan
          expected_frequency: 5.0
        - input_topic: /rosserial/odom_simple
          output_topic: /odom_simple
          expected_frequency: 5.0
    </rosparam>
  </node>
</launch>
