<launch>
  <arg name="map_file" default="$(find parsec_navigation)/maps/willow-2010-02-18-0.10.yaml" />
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />
  <include file="$(find parsec_simulation_stage)/launch/parsec_stage_willow.launch" />
  <include file="$(find parsec_navigation)/config/amcl.launch"/>
  <!-- Disable all observation sources but the base laser since a
       tilting laser is not supported by stage. -->
  <rosparam>
    move_base:
      global_costmap:
        observation_sources: base_laser
      local_costmap:
        observation_sources: base_laser
  </rosparam>
</launch>
